@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Playfair+Display+SC:wght@700&family=Space+Grotesk:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Parisienne&family=Playfair+Display+SC:wght@700&family=Space+Grotesk:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Space+Grotesk:wght@300;500;600&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

h1, 
h2,
h3,
h4,
h5,
h6
{
    font-family:"Libre Baskerville", serif;
}


h4,


body {
  font-family: "Libre Baskerville", serif;
  margin: 0;
}
header {
  background: #2c3e50;
  background: -webkit-linear-gradient(to right, #fd746c, #2c3e50);
  background: linear-gradient(to right, #fd746c, #2c3e50);

  padding: 10px 10%;
  display: flex;
  color: ivory;
}
main {
  padding: 50px 10%;
  display: flex;
  justify-content: space-between;
}
aside {
  width: 30%;
}
aside,
section {
  border-radius: 6px;
  border: 1px;
  background-color: darkgray;
  padding: 10px;
}
section {
  width: 65%;
}

#avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
}
#titles {
  margin: auto 20px;
  width: 100%;
}
#titles h1 {
  font-size: 35
  px;
}
#languages {
    width: 165px;
}